<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8">   
            <h1>{{ title }}</h1>
                <input type="text" 
                placeholder="how you doin ~" 
                class="form-control"
                [(ngModel)]="userInput"
                #postInput>
                <button 
                (click) = "onUserSubmit(postInput)" 
                [disabled]="!userInput"
                class="btn btn-primary">Add to your ~ diary ~</button>
            <div class="row">
                <p class="col-md-1"></p>                
                <p *ngIf="userInput; else noInput"></p>
                <ng-template #noInput>
                    <p> Add some ~ thougtz ~ </p>
                </ng-template>
            </div>
        </div>
    </div>
</div>


